{% extends 'base.html.twig' %}

{% block title %}Crear nueva grabación | {{ parent() }}{% endblock %}

{% block body %}
<h1>{{ title }}</h1>

<div>
  Pistas:
  <ul>
    {% for track in tracks %}
      <li> 
        {{ track.song }} - {{ track.artist | upper }}
      </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}